<!--声明为 HTML5 文档-->
<!DOCTYPE html>
<!--完整的HTML页面-->
<html lang="en">
<!--头部元素-->
<head>
    <meta charset="UTF-8">
    <title>Fang:Hello web.</title>
    {#link标签定义了文档与外部资源之间的关系#}
    <link rel="icon"
          href="{{ url_for('static', filename='images/favicon.ico') }}">
    {#为网页定义描述内容:#}
    <meta name="description" content="Fang's personal website.">
    {#为搜索引擎定义关键词:#}
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    {#定义网页作者:#}
    <meta name="author" content="Fang Chennian">
    {#每30秒钟刷新当前页面:#}
    <meta http-equiv="refresh" content="30">

    <style>
        body {
            background-color: wheat;
        }

        p {
            color: black;
        }
    </style>
</head>
<!--可见的页面内容-->
<body>
<h1>This is first level title.</h1>
<p>This is paragraph of main content.</p>

<h3>What is the HTML?</h3>
<p>HTML是用来描述网页的一种语言。</p>
<p>HTML指的是超文本标记语言：Hyper Text Markup Language。</p>
<p>HTML是一种标记语言，不是一种编程语言</p>
<p>HTML使用标记标签来描述网页</p>
<p>HTML文档包含了HTML标签以及文本内容</p>

<h3>HTML标签 HTML tag</h3>
<p>HTML标签是由尖括号包围的关键词，比如&lthtml&gt内容</p>
<p>HTML tag 通常是成对出现的，比如&ltb&gt和&lt/b&gt</p>

<h3>1.HTML foundation</h3>
<h1>This is 1-level heading.</h1>
<hr>
<h2>This is 2-level heading.</h2>
<hr>
<h3>This is 3-level heading.</h3>
<hr>
<h4>This is 4-level heading.</h4>
<h5>This is 5-level heading.</h5>
<h6>This is 6-level heading.</h6>
<p>This is the paragraph.</p>
<p>HTML link <a href="https://github.com/">This is a link which is go to
    github.</a></p>
<p>HTML image <img src="{{ url_for('static', filename='images/Faron.jpg') }}"
                   width="360" height="450" alt="cat"></p>


<h3><a id="C2">2.HTML element</a></h3>
<p>Anything between in opening tag and <br> closing tag is the element.</p>
<p>&ltbr&gt is the 换行 tag.</p>
<p>HTML 元素以开始标签起始<br>
    HTML 元素以结束标签终止<br>
    元素的内容是开始标签与结束标签之间的内容<br>
    某些 HTML 元素具有空内容（empty content）<br>
    空元素在开始标签中进行关闭（以开始标签的结束而结束）<br>
    大多数 HTML 元素可拥有属性<br>
    大多数 HTML 元素可以嵌套（HTML 元素可以包含其他 HTML 元素）<br>
    HTML 文档由相互嵌套的 HTML 元素构成
</p>

<h3>3.HTML attribute</h3>
<p>HTML 元素可以设置属性<br>
    属性可以在元素中添加附加信息<br>
    属性一般描述于开始标签<br>
    属性总是以名称/值对的形式出现，比如：name="value"
</p>

<h3>4.HTML text formatting</h3>
<p>
    <b>这个文本是加粗的</b>
    <strong>这个文本是加粗的</strong>
    <br>
    <em>这个文本是斜体的</em>
    <i>这个文本是斜体的</i>
    <br>
    <small>这个文本是缩小的</small>
    <br>
    这个文本包含<sub>下标</sub> 这个文本包含<sup>上标</sup>
</p>


<pre>
此例演示如何使用 pre 标签
对空行和    空格
进行控制
</pre>

<p>
    <code>计算机输出 console.log</code>
    <br>
    <kbd>键盘输入 print("hello world!")</kbd>
    <br>
    <samp>计算机代码样本 import cv2</samp>
    <br>
    <var>计算机变量 var a = 1200</var>
    <br>
</p>

<p>
    <b>注释：</b>这些标签常用于显示计算机/编程代码。
</p>


<address>
    Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
</address>

<p>该段落文字从左到右显示。</p>
<p><bdo dir="rtl">该段落文字从右到左显示。</bdo></p>

<p>WWF's goal is to:
    <q>Build a future where people live in harmony with nature.</q>
    We hope they succeed.</p>

<p>My favorite color is
    <del>blue</del>
    <ins>red</ins>
    !
</p>

<h3>5.HTML link</h3>
<p>无边框的图片链接:
    <a href="https://github.com/">
        <img src="{{ url_for('static', filename='images/panda.png') }}"
             alt="HTML 教程" width="65" height="65"></a></p>

<p>在当前页面链接到指定位置
    <a href="#C2">查看章节 2.HTML element</a>
</p>

<p>
    这是一个电子邮件链接：
    <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
        发送邮件</a>
</p>

<p>
    <b>注意:</b> 链接的单词之间空格使用 %20 代替，以确保浏览器可以正常显示文本。
</p>

<p>
    <a href="https://www.baidu.com/" target="_blank">
        _blank -- 在新窗口中打开链接</a>
    <br>
    <a href="https://www.baidu.com/" target="_parent">
        _parent -- 在父窗体中打开链接</a>
    <br>
    <a href="https://www.baidu.com/" target="_self">
        _self -- 在当前窗体打开链接,此为默认值</a>
    <br>
    <a href="https://www.baidu.com/" target="_top">
        _top -- 在当前窗体打开链接，并替换当前的整个窗体(框架页)</a>
</p>

<h3>6.HTML head</h3>
<p>
    &lthead> 元素包含了所有的头部标签元素。<br>
    在 &lthead>元素中你可以插入脚本（scripts）,<br>
    样式文件（CSS），及各种meta信息。<br>

    可以添加在头部区域的元素标签为: <br>
    &lttitle>, &ltstyle>, &ltmeta>, &ltlink>, <br>
    &ltscript>,&ltnoscript> 和 &ltbase>。
</p>


<h3>7.HTML add CSS (Cascading Style Sheets)</h3>
<div style="opacity:0.5;
    position:absolute;
    left:50px;
    width:300px;
    height:150px;
    background-color:#40B3DF">
</div>

<div style="font-family:verdana;padding:20px;
    border-radius:10px;border:10px solid #EE872A;">

    <div style="opacity:0.3;position:absolute;left:120px;
    width:100px;height:200px;background-color:#8AC007"></div>

    <h3>Look! Styles and colors</h3>

    <div style="letter-spacing:12px;">Manipulate Text</div>

    <div style="color:#40B3DF;">Colors
        <span style="background-color:#B4009E;color:#ffffff;">Boxes</span>
    </div>

    <div style="color:#000000;">and more...</div>
</div>

<h1 style="text-align:center;">居中对齐的标题</h1>
<p>这是一个段落。</p>

<h1 style="font-family:verdana;">一个标题</h1>
<p style="font-family:arial;color:red;font-size:20px;">一个段落。</p>

<h2 style="background-color:red;">这是一个标题</h2>
<p style="background-color:green;">这是一个段落。</p>


<h3>8.HTML add images</h3>
<p>
    一个图像:
    <img src="{{ url_for('static', filename='images/panda.png') }}"
         alt="Smiley face" width="65" height="65"></p>
<p>
    一个动图:
    <img src="{{ url_for('static', filename='images/totoro.gif') }}"
         alt="Computer man" width="65" height="65"></p>
<p>
    注意插入动图的语法和静态图的语法是一样的。
</p>

<p>点击下图的不同的位置，注意变化：</p>

<img src="{{ url_for('static', filename='images/panda.png') }}"
     width="145" height="126" alt="Planets" usemap="#planetmap">

<map name="planetmap">
    {# 1、矩形：(左上角顶点坐标为(x1,y1)，右下角顶点坐标为(x2,y2))#}
    <area shape="rect" coords="0,0,82,126" alt="Sun"
          href="https://www.baidu.com/" target="_blank">
    {# 2、圆形：(圆心坐标为(X1,y1)，半径为r)#}
    <area shape="circle" coords="90,58,3" alt="Mercury"
          href="https://im.qq.com/" target="_blank">
    {# 3、多边形：(各顶点坐标依次为(x1,y1)、(x2,y2)、(x3,y3) ......)#}
    <area shape="circle" coords="124,58,8" alt="Venus"
          href="https://weixin.qq.com/" target="_blank">
</map>


<h3>9.HTML add sheet</h3>

<p>
    每个表格从一个 table 标签开始。
    每个表格行从 tr 标签开始。
    每个表格的数据从 td 标签开始。
</p>

<p>
    数据单元格的内容。数据单元格可以包含文本、图片、列表、段落、表单、水平线、表格等等。
</p>

<h4>两行三列:</h4>
<div class="table-a">
    <style>
        /*.table-a table{ background:#F00}*/
        .table-a table {
            border-right: 4px solid #F00;
            border-bottom: 4px solid #F00
        }

        .table-a table td {
            border-left: 4px solid #F00;
            border-top: 4px solid #F00
        }

        .table-a table th {
            border-left: 4px solid #F00;
            border-top: 4px solid #F00
        }

        /* css注释：只对table td标签设置红色边框样式 */
    </style>

    <table>
        <!--tr 是行-->
        <!--td 是列-->
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 2</th>
        </tr>
        <tr>
            <td>1000</td>
            <td>200</td>
            <td>300</td>
        </tr>
        <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
        </tr>
    </table>
</div>

<h4>这个表格没有边框:</h4>
<table>
    <tr>
        <td>100</td>
        <td>200</td>
        <td>300</td>
    </tr>
    <tr>
        <td>400</td>
        <td>500</td>
        <td>600</td>
    </tr>
</table>

<h4>这个表格没有边框:</h4>
<table border="0">
    <tr>
        <td>100</td>
        <td>200</td>
        <td>300</td>
    </tr>
    <tr>
        <td>400</td>
        <td>500</td>
        <td>600</td>
    </tr>
</table>

<h4>垂直标题:</h4>
<table border="1">
    <tr>
        <th>First Name:</th>
        <td>Bill Gates</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>555 77 854</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>555 77 855</td>
    </tr>
</table>

<h4>带有标题的表格</h4>
<table border="1">
    <caption>Monthly savings</caption>
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>February</td>
        <td>$50</td>
    </tr>
</table>

<h4>单元格跨两列:</h4>
<table border="1">
    <tr>
        <th>Name</th>
        <th colspan="2">Telephone</th>
    </tr>
    <tr>
        <td>Bill Gates</td>
        <td>555 77 854</td>
        <td>555 77 855</td>
    </tr>
</table>

<h4>单元格跨两行:</h4>
<table border="1">
    <tr>
        <th>First Name:</th>
        <td>Bill Gates</td>
    </tr>
    <tr>
        <th rowspan="2">Telephone:</th>
        <td>555 77 854</td>
    </tr>
    <tr>
        <td>555 77 855</td>
    </tr>
</table>

<h4>表格中含有其他标签:</h4>
<table border="1">
    <tr>
        <td>
            <p>这是一个段落</p>
            <p>这是另一个段落</p>
        </td>
        <td>这个单元格包含一个表格:
            <table border="1">
                <tr>
                    <td>A</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>D</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>这个单元格包含一个列表
            <ul>
                <li>apples</li>
                <li>bananas</li>
                <li>pineapples</li>
            </ul>
        </td>
        <td>HELLO</td>
    </tr>
</table>

<h4>有单元格边距:</h4>
<table border="1"
       cellpadding="10">
    <tr>
        <td>First</td>
        <td>Row</td>
    </tr>
    <tr>
        <td>Second</td>
        <td>Row</td>
    </tr>
</table>

<h4>单元格间距="10":</h4>
<table border="1" cellspacing="10">
    <tr>
        <td>First</td>
        <td>Row</td>
    </tr>
    <tr>
        <td>Second</td>
        <td>Row</td>
    </tr>
</table>


<h3>10.HTML add list</h3>
<p>
    ul是unordered lists的缩写 (无序列表)<br>
    li是list item的缩写 （列表项目）<br>
    ol是ordered lists的缩写（有序列表）<br>
    dl是definition lists的英文缩写 (自定义列表)<br>
    dt是definition term的缩写 (自定义列表组)<br>
    dd是definition description的缩写（自定义列表描述）<br>
    nl是navigation lists的英文缩写 （导航列表）<br>
    tr是table row的缩写 （表格中的一行）<br>
    th是table header cell的缩写 （表格中的表头）<br>
    td是table data cell的缩写 （表格中的一个单元格）<br>
</p>

<h4>无序列表:</h4>
<ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ul>
<ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ol>

<ol start="50">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ol>

<dl>
    <dt>Coffee</dt>
    <dd>- black hot drink</dd>
    <dt>Milk</dt>
    <dd>- white cold drink</dd>
</dl>

<h4>编号列表：</h4>
<ol>
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ol>

<h4>大写字母列表：</h4>
<ol type="A">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ol>

<h4>小写字母列表：</h4>
<ol type="a">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ol>

<h4>罗马数字列表：</h4>
<ol type="I">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ol>

<h4>小写罗马数字列表：</h4>
<ol type="i">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ol>


<h4>圆点列表：</h4>
<ul style="list-style-type:disc">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ul>

<h4>圆圈列表：</h4>
<ul style="list-style-type:circle">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ul>

<h4>正方形列表：</h4>
<ul style="list-style-type:square">
    <li>Apples</li>
    <li>Bananas</li>
    <li>Lemons</li>
    <li>Oranges</li>
</ul>

<h4>嵌套列表：</h4>
<ul>
    <li>Coffee</li>
    <li>Tea
        <ul>
            <li>Black tea</li>
            <li>Green tea</li>
        </ul>
    </li>
    <li>Milk</li>
</ul>


<h4>嵌套列表：</h4>
<ul>
    <li>Coffee</li>
    <li>Tea
        <ul>
            <li>Black tea</li>
            <li>Green tea
                <ul>
                    <li>China</li>
                    <li>Africa</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Milk</li>
</ul>


</body>
</html>






















