<!--声明为 HTML5 文档-->
<!DOCTYPE html>
<!--完整的HTML页面-->
<html lang="en">
<!--头部元素-->
<head>
    <meta charset="UTF-8">
    <title>Fang:Hello web.</title>
    {#link标签定义了文档与外部资源之间的关系#}
    <link rel="icon"
          href="{{ url_for('static', filename='images/favicon.ico') }}">
    {#为网页定义描述内容:#}
    <meta name="description" content="Fang's personal website.">
    {#为搜索引擎定义关键词:#}
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    {#定义网页作者:#}
    <meta name="author" content="Fang Chennian">
    {#每30秒钟刷新当前页面:#}
    <meta http-equiv="refresh" content="30">

    <style>
        body {
            background-color: wheat;
        }

        p {
            color: black;
        }
    </style>
</head>
<body>

</body>
</html>